<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net  
       http://dozer.sourceforge.net/schema/beanmapping.xsd">
	
	<mapping>
		<class-a>com.dinfo.crawl.bean.Bean</class-a>
		<class-b>com.dinfo.crawl.web.WeiBo</class-b>
		<field>
			<a>date</a>
			<b>post_time</b>
		</field>
	</mapping>

	<mapping>
		<class-a>com.dinfo.crawl.bean.Wbuser</class-a>
		<class-b>com.dinfo.crawl.web.WeiBo</class-b>
	</mapping>

	<mapping>
		<class-a>com.dinfo.crawl.bean.Bean</class-a>
		<class-b>com.dinfo.crawl.bean.WeiboBean</class-b>
		<field>
			<a>date</a>
			<b>post_time</b>
		</field>
	</mapping>

	<mapping>
		<class-a>com.dinfo.crawl.bean.Wbuser</class-a>
		<class-b>com.dinfo.crawl.bean.WeiboBean</class-b>
	</mapping>


	<mapping>
		<class-a>weibo4j.model.Status</class-a>
		<class-b>com.dinfo.crawl.bean.WeiboBean</class-b>
		<field>
			<a>commentsCount</a>
			<b>count</b>
		</field>
		<field>
			<a>repostsCount</a>
			<b>mcount</b>
		</field>
		<field>
			<a>createdAt</a>
			<b>post_time</b>
		</field>
		<field>
			<a>mid</a>
			<b>wbid</b>
		</field>
	</mapping>
	
	
	<mapping>
		<class-a>weibo4j.model.User</class-a>
		<class-b>com.dinfo.crawl.bean.WeiboBean</class-b>
		<field-exclude>
			<a>id</a>
			<b>id</b>
		</field-exclude>
		<field-exclude>
			<a>url</a>
			<b>url</b>
		</field-exclude>
		<field>
			<a>followersCount</a>
			<b>fansnum</b>
		</field>
		<field>
			<a>friendsCount</a>
			<b>idolnum</b>
		</field>
		<field>
			<a>profileImageUrl</a>
			<b>head</b>
		</field>
		<field>
			<a>city</a>
			<b>city_code</b>
		</field>
		<field>
			<a>screenName</a>
			<b>nick</b>
		</field>
		<!--  <field>
			<a>city</a>
			<b>city_code</b>
		</field>-->
	</mapping>
	
	
	
	<mapping>
		<class-a>weibo4j.model.Status</class-a>
		<class-b>com.dinfo.crawl.web.WeiBo</class-b>
		<field>
			<a>commentsCount</a>
			<b>count</b>
		</field>
		<field>
			<a>repostsCount</a>
			<b>mcount</b>
		</field>
		<field>
			<a>createdAt</a>
			<b>post_time</b>
		</field>
		<field>
			<a>mid</a>
			<b>wbid</b>
		</field>
	</mapping>
	<mapping>
		<class-a>weibo4j.model.User</class-a>
		<class-b>com.dinfo.crawl.web.WeiBo</class-b>
		<field-exclude>
			<a>id</a>
			<b>id</b>
		</field-exclude>
		<field-exclude>
			<a>url</a>
			<b>url</b>
		</field-exclude>
		<field>
			<a>followersCount</a>
			<b>fansnum</b>
		</field>
		<field>
			<a>friendsCount</a>
			<b>idolnum</b>
		</field>
		<field>
			<a>profileImageUrl</a>
			<b>head</b>
		</field>
		<field>
			<a>city</a>
			<b>city_code</b>
		</field>
		<field>
			<a>screenName</a>
			<b>nick</b>
		</field>
		<!--  <field>
			<a>city</a>
			<b>city_code</b>
		</field>-->
	</mapping>
	




</mappings>